{% if site.twitter_user %}
<section>
  <h3>Talk about Barcamp Berkshire.</h1>
  <p>Tell everyone you know about Barcamp Berkshire! Blog, talk and tweet using hashtag #bcb.</p>
  <div id="latest-tweets">
    <h4>Latest Tweets</h4>
    <ul id="tweets">
      <li class="loading">Status updating...</li>
    </ul>
  </div>
  <p>We're also on <a href="http://lanyrd.com/2011/barcamp-london-9/">Lanyrd</a>, the social conference directory. Feel free to add yourself there, and during BarCamp link to your presentations, notes, photos etc.</p>
  <script type="text/javascript">
    $.domReady(function(){
      getTwitterFeed("{{site.twitter_user}}", {{site.twitter_tweet_count}}, {{site.twitter_show_replies}});
    });
  </script>
  <script src="{{ root_url }}/javascripts/twitter.js" type="text/javascript"> </script>
  {% if site.twitter_follow_button %}
    <a href="http://twitter.com/{{ site.twitter_user }}" class="twitter-follow-button" data-show-count="{{ site.twitter_show_follower_count }}">Follow @{{ site.twitter_user }}</a>
  {% else %}
    <p>Follow <a href="http://twitter.com/{{site.twitter_user}}">@{{ site.twitter_user }}</a></p>
  {% endif %}
</section>
{% endif %}
