$noise-bg: image-url('noise.png') top left !default;
$img-border: inline-image('dotted-border.png');

//main site colours
$blue: #0f75bc;
$super-light-blue: lighten($blue, 40%);
$light-blue: lighten($blue, 10%);
$dark-blue: darken($blue, 10%);
$green: #68bd45;
$super-light-green: lighten($green, 40%);
$light-green: lighten($green, 10%);
$dark-green: darken($green, 10%);
$yellow: #ffde16;
$light-yellow: lighten($yellow, 20%);
$white: #fdfdfd;
$dark-white: darken($white, 5%);
$black: #333333;
$light-black: lighten($black, 30%);

//some repeated styles
$text-shadow: 1px 1px 0px #fff;

// Main Link Colors
$link-color: $blue;
$link-color-hover: $light-blue;
$link-color-visited: $blue;
$link-color-active: $light-blue;

// Main Section Colors
$main-bg: $white !default;
$page-bg: $white !default;
$article-border: $white !default;

$header-bg: $white !default;
$header-border: $white !default;
$title-color: $green !default;
$subtitle-color: $green !default;

$text-color: $black !default;
$text-color-light: $light-black !default;
$type-border: $black !default;

/* Navigation */
$nav-bg: $white !default;
$nav-bg-front: $white;
$nav-bg-back: linear-gradient(lighten($nav-bg, 8), $nav-bg, darken($nav-bg, 11)) !default;
$nav-color: $blue !default;
$nav-color-hover: $light-blue !default;
$nav-placeholder: $blue !default;
$nav-border: $white !default;
$nav-border-top: $white !default;
$nav-border-bottom: $white !default;
$nav-border-left: $green !default;
$nav-border-right: $white !default;

/* Sidebar colors */
$sidebar-bg: $dark-white !default;
$sidebar-link-color: $link-color !default;
$sidebar-link-color-hover: $link-color-hover !default;
$sidebar-link-color-active: $link-color-active !default;
$sidebar-color: $light-black !default;
$sidebar-border: $white !default;
$sidebar-border-hover: $black !default;
$sidebar-link-color-subdued: $light-blue !default;
$sidebar-link-color-subdued-hover: $blue !default;
$twitter-status-link: $blue !default;

$footer-color: $black !default;
$footer-bg: $dark-white !default;
$footer-bg-front: image-url('noise.png') !default;
$footer-bg-back: linear-gradient(lighten($footer-bg, 8), $footer-bg, darken($footer-bg, 11)) !default;
$footer-color-hover: $light-black !default;
$footer-border-top: $blue !default;
$footer-border-bottom: $blue !default;
$footer-link-color: $link-color !default;
$footer-link-color-hover: $link-color-hover !default;
$page-border-bottom: $white !default;


/* Core theme application */

a {
  @include link-colors($link-color, $hover: $link-color-hover, $focus: $link-color-hover, $visited: $link-color-visited, $active: $link-color-active);
}
aside.sidebar a {
  @include link-colors($sidebar-link-color, $hover: $sidebar-link-color-hover, $focus: $sidebar-link-color-hover, $active: $sidebar-link-color-active);
}
a {
  @include transition(color .3s);
}

html {
  text-shadow: $text-shadow;
}
body {
  > header h2 {
    width: 67%;
    padding-top:1em;
    margin:0px;
  }
  > div {
    background: $sidebar-bg $noise-bg;
    border-bottom: 1px solid $page-border-bottom;
    > div {
      background: $main-bg $noise-bg;
      border-right: 1px solid $sidebar-border;
    }
  }
}
